/* * {
    border: 1px solid white;  
} */
body {
    background-color: grey;
}
h1 {
    text-align: center;
    font-family: 'Creepster', cursive;
    font-size: 3em;
}
span {
    text-decoration: underline;
}
#gravestone {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #363a40;
    width: 450px;
    height: 600px;
    margin: auto;
	border: 2px solid black;
    border-radius: 190px 190px 0 0;
}
#stats {
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
    padding: 0 10px 0 10px; 
    font-weight: bold; 
}
#screen {
    background-color: rgb(139, 134, 134);
    display: flex;
    justify-content: center;
    margin: auto;
    width: 375px;
    height: 350px;
    border: 2px solid black;
    border-radius: 150px 150px 0 0;
}
#skelly {
    height: 25%;
    padding-top: 150px;
    padding-right: 0;
    padding-left: 0;
}
.button-list {
    display: flex;
    justify-content: space-evenly;
    margin: auto;
    width: 400px;
}
.buttons {
    display: flex;
    background-color: black;
    color: white;
    border-radius: 50px 50px 0 0;
    padding-top: 40px;
    width: 75px;
    height: 100px;
}
