/* * {
    border: 1px solid white;  
} */
body {
    background-color: grey;
}
h1 {
    text-align: center;
    font-family: 'Creepster', cursive;
    font-size: 3em;
}
span {
    text-decoration: underline;
}
#gravestone {
    display: flex;
    background-color: #363a40;
    width: 450px;
    height: 600px;
    margin: 5px auto;
	border: 2px solid black;
    border-radius: 190px 190px 0 0;
}
#stats {
    padding-top: 75px;
}
#stats-lists {
    display: inline;
}
.button-list {
    display: flex;
    width: 400px;
    align-items: flex-end;
    justify-content: space-evenly;
    padding-bottom: 15px;
}
.buttons {
    display: flex;
    background-color: black;
    color: white;
    /* text-shadow: 2px 2px 2px red; */
    border-radius: 50px 50px 0 0;
    padding-top: 40px;
    width: 75px;
    height: 100px;
}
